<table class="table table-bordered">
<tr><td>Vorname</td><td>{{b.vorname}}</td></tr>
<tr><td>Nachname</td><td>{{b.nachname}}</td></tr>
<tr><td>Telefon</td><td>{{b.telefon}}</td></tr>
<tr><td>Haustel.</td><td>{{ b.haustel }}</td></tr>
<tr><td>E-Mail</td><td>{{ b.email }}</td></tr>
<tr><td>Anschrift</td><td>{{ b.anschrift|linebreaks }}</td></tr>
<tr><td>Status</td><td>{{b.status}}</td></tr>
<tr><td>Raum</td><td>{{ b.raum }}</td></tr>
<tr><td>Kommentar</td><td>{{ b.kommentar|linebreaks }}</td></tr>
</table>
